.wallet {
  min-height: 100%;
  .card {
    width: 100%;
    font-size: 20px;
    box-shadow: 0px 0px 15px gray;
    .line {
      display: inline-block;
      width: 1px;
      background-color: gray;
      height: auto;
    }
    .blueBg {
      width: fit-content;
      font-size: 30px;
      cursor: pointer;
    }
  }
  .status {
    box-shadow: 0px 0px 15px gray;
    .blueBg {
      width: fit-content;
      font-size: 30px;
      cursor: pointer;
      color: rgb(32, 131, 224);
    }
    .lightBlueBg {
      border: 2px solid rgb(45, 213, 255);
      color: rgb(45, 213, 255);
      font-weight: bold;
    }
    .followUp {
      color: rgb(32, 131, 224);
      cursor: pointer;
    }
  }
}
